#bookingside {
    min-height: 100vh; 
}

#ticketform {
    text-align: center;
  }

#monotext {
    font-family: monospace;
}

#customFullModal {


    min-height: 100vh;
    border-radius: 0;
}

#customModalContent {
    height: auto;
    min-height: 100%;
    border-radius: 0;

}