#bookingside {
    /* min-height: 50vh;  */
    box-shadow: 1px 1px 50px rgb(180, 56, 56);
}

#ticketform {
    text-align: center;
  }

#monotext {
    font-family: monospace;
}

#customFullModal {


    min-height: 100vh;
    border-radius: 0;
}

#customModalContent {
    height: auto;
    min-height: 100%;
    border-radius: 0;

}

#pressButton:hover{
    color: gold;
}