body {
    font-family: 'Poppins', sans-serif;
}
#listingheader{
    text-align: center;
}
#modalimage{
    text-align: center;
}

   .modal-dialog{
     width: 1200px;
     height: 100%;
     margin: 0;
     padding: 0;
   }
.modal-container{
    width: 1200px;
}
   .modal-content {
     height: auto;
     min-width: 100%;
     min-height: 100%;
     border-radius: 0;
  }
 