body {
    font-family: 'Staatliches', cursive!important;
 background-color: black!important;
    
    overflow-x: hidden;

}

p{
    font-family: monospace!important;
}



hr{

    background-color: gold!important;

}

